* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}
@font-face {
  font-family: principal;
  src: url(assets/fonts/monotype-corsiva.ttf);
}
@font-face {
  font-family: secundaria;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}
body {
  background-color: #ffffff;
}
#main {
  background-image: url(assets/piedras-de-santiago-tradicion-ciudad.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}
a {
  color: #ffffff;
  font-family: secundaria;
  font-size: 16px;
  width: 400;
  text-decoration: none;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5rem;
  padding: 2rem;
  text-decoration: none;
}
a:hover{

padding-bottom: 10px; 
border-bottom: 3px solid white;
transition: 1s ease;
position: initial;
direction: ltr;
}
#centro {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  flex-direction: column;
  padding: 15rem 5rem;
}
h1 {
  font-family: principal;
  color: #c19d56;
  font-size: 48px;
}
h3{
  padding: 2rem;
}
button {
  background-color: #c19d56;
  color: #ffffff;
  font-family: secundaria;
  font-size: 16px;
  width: 168px;
  height: 48px;
  margin-left: 5rem;
  border: none;
}
#botons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  
}
.fotos {
  display: flex;
padding: 0rem 4rem;
}
#SobreNos {
  background-image: url(assets/components/intro-sobre-nosotros.webp);
  background-repeat: no-repeat;
  width: 270px;
  height: 379px;
  color: #ffffff;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  box-shadow: 15px 8px 8px rgb(98, 95, 95);
  cursor: pointer;
}
#Elaboracion {
  background-image: url(assets/components/intro-elaboracion.webp);
  background-repeat: no-repeat;
  width: 270px;
  height: 379px;
  color: #ffffff;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  cursor: pointer;
}
#ParaEmpresas {
  background-image: url(assets/components/intro-para-empresas.webp);
  background-repeat: no-repeat;
  width: 270px;
  height: 379px;
  color: #ffffff;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  cursor: pointer;
}
#Eventos {
  background-image: url(assets/components/intro-eventos.webp);
  background-repeat: no-repeat;
  width: 270px;
  height: 379px;
  color: #ffffff;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  cursor: pointer;
}
.hover:hover{
  width: 270px;
  height: 379px;
  box-shadow: 20px 10px 10px rgb(98, 95, 95);
background-color:#8b5e06 ;
overflow: hidden;
z-index: 0;
direction: ltr;
opacity: 0.65;
}
footer {
    display: flex;
    padding: 2rem;
  background-color: #000000;
  color: #c19d56;
  font-family: secundaria;
  
}
@media screen and (max-width: 915px){
  header {
    display: flex;
    flex-direction: column;
     gap: 0.5rem;
    padding-left: 5rem;
      }
  a {
    
    font-size: 16px;
    width: 200;
    text-decoration: none;
}
ul {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
#centro {
   gap: 1rem;
  flex-direction: column;
  padding: 2rem 3rem;
}
h1 {
    font-size: 30px;
    padding-left: 1.5rem;
}
button {
  font-size: 10px;
  width: 68px;
  height: 28px;
  margin-left: 5rem;
  border: none;
}
footer {
    padding: 5rem;
}
}